<h1>My restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to "#{restaurant.name} - #{restaurant.address} - #{restaurant.phone_number} - #{restaurant.category} ", restaurant_path(restaurant) %></li>
  <% end %>
  <br>
  <li><%= link_to "+ADD", new_restaurant_path, class: "btn btn-primary" %></li>
</ul>
